.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a29c9c;
}

.newsletter-Card {
  background-color: #e3dfdf;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1vh;
  width:75vh;
  height: 35vh;

}

.header{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 4vh;
  font-weight: bold;
}

.text{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2vh;
  margin:1%;
}

.email-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

.input-box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #413d3d;
  width: 35vh;
  height: 5vh;
  border-radius: 1vh;
}

.input-box::placeholder {
  font-size: 2vh;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #072633;
  color: white;
  width: 15vh;
  height: 5vh;
  border-radius: 1vh;
  margin: 3%;
}

.button:hover{
  background-color: #0d425b;
}

.checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

#box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vh;
}